.main {
    min-height: calc(100vh - 150px);
}

.AuthComponent {
    display: flex;
    position: relative;
    height: 100vmin;
    width: 100%;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;
}

.AuthComponentWrapper {
    display: flex;
    position: relative;
    height: 95%;
    width: 30%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    padding: 77px 55px 33px 55px;

    background-color: #fff;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);


}

.AuthComponentWrapper form {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.AuthComponentWrapper form > input, .AuthComponentWrapper form > button {
    margin: 5px 0 0 0;
    outline: none !important;
}

.RegisterComponent {
    display: block;
    position: relative;
    height: 100vmin;
    width: 100%;
}

.RegisterComponentWrapper {
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.RegisterComponentWrapper form {
    display: flex;
    position: relative;
    flex-direction: column;
}

.RegisterStep {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterStep input, .RegisterStep button {
    margin: 5px 0 0 0;
    outline: none !important;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.completeRegistration button{
    font-size: 14px !important;
    width: 100px !important;
}

.step2{
    margin: 100px 0 50px 0;
}

.AuthComponentWrapper input{
    display: block;
    position: relative;
    border: 0;
    width: 100%;
}

.AuthComponentWrapper span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 800;

}

.RegisterComponentWrapper span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 800;
}

.inputGroup{
    display: block;
    position: relative;
    margin: 60px 0 0 0 ;
    width: 100%;
}



.Area {
    display: block;
    position: relative;
    margin-bottom: 50px;
}

.Area span{
    display: block;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    z-index: 9;
    bottom: 10px;
    left: 5px;
}

.Area input{
    margin: 0 0 50px 0;
    outline: none !important;

}

input.Area:focus span{
    bottom: 50px;
}


.user-input-wrp {
    position: relative;
    width: 100%;
}
.user-input-wrp .inputText{
    width: 100%;
    outline: none;
    border:none;
    border-bottom: 1px solid #777;
    box-shadow: none !important;
}
.user-input-wrp .inputText:focus{
    border-color: blue;
    border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;
    top: 18px;
    left: 10px;
    transition: 0.2s ease all;
    font-size: 13px;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
    top: 0px;
    left: 10px;
    font-size: 13px;
    opacity: 1;
}

.AuthComponentWrapper button{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border: 0;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;

    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 50px;

  background-color: #6979F8;

}

.AuthComponentWrapper button:hover{
    cursor: pointer;
}


.additionalInfo{
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0px;
    justify-content: center;
}

.additionalInfo p{
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}

.additionalInfo p > a{
    font-size: 13px;
    color: #333333;
    line-height: 1.5;
}

.RegisterComponent{
    display: flex;
    position: relative;
    height: 100vmin;
    width: 100%;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;
}

.RegisterComponentWrapper{
    display: flex;
    position: relative;
    height: 95%;
    width: 30%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 77px 55px 33px 55px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.RegisterComponentWrapper form{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.RegisterComponentWrapper img{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.RegisterComponentWrapper button{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border: 0;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    background-color: #6979F8;
    margin: 5px 0 0 0;
    outline: none !important;
}

.RegisterStep .Area{
    margin-bottom: 0;
}

.RegisterComponentWrapper .additionalInfo{
}

.canvas-wrapper {
    display: flex;
    max-width: 100%;
    justify-content: center;
    background-size: contain !important;
    margin-top: 20px
}

.canvas-wrapper > canvas {
    background-size: contain !important;
}

.canvas-wrapper > canvas:hover {
    cursor: pointer;
}

.AuthComponentWrapper img {

    display: block;
    position: relative;
    width: 100%;
    height: auto;

}


.HeaderMain{
    height: 75px;
}


.headerLogo a {
    display: flex;
    height: 60px;
    margin: 5px 0;
}

.headerLogo img {
    display: flex;
    width: 100%;
    height: auto;
}

.headerMenu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.headerMenu ul  > li {
    padding: 0 30px;
}

.headerMenu ul  > li > a{
    text-decoration: none!important;
    color: #000;
    font-weight: 400;
}
.signoutBtn{
    padding: 8px 15px;
    border-radius: 5px;
}

.projectBlockItem{
    display: block;
    position: relative;
    width: 100%;

}

.projectBlockItem a{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-decoration: none !important;
}

.projectBlockItem a > img{
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

.projectBlockItem a > h5{
    color: #000;
    font-weight: 600;
    margin: 5px 0;
}

.projectBlockItem a > p{
    color: #000;
    font-size: 14px;
}

.customBtn{
    background-color: #6979F8 !important;
    color: #fff !important;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.customBtn:hover {
    background-color: #4e62ff !important;
}

.confirmBtn{
    background-color: #30cb74 !important;
    color: #fff !important;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.confirmBtn:hover {
    background-color: #27830d !important;
}

.customBg{
    background-color: #f1f1f1;
}
.page-footer{
    border-top: 1px solid #ccc;
}
.page-footer a{
    color: #6979F8;
    text-decoration: none !important;
}

.icon{
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 9999;
    right: 5px;
    top: 5px;
}

.icon i{
    color: #ffff;
    font-size: 22px;
}

.parse-block {
    margin-top: 100px;
}

.parse-block i {
    font-size: 70px;
    color: #6979F8;
}

.field-form {
    position: relative;
}

.loading {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 5px;
    right: -5px;
    z-index: 9999;
    background-color: #000;
    opacity: 0.3;
    text-align: center;
}

.loading > .spinner-border {
    margin-top: 160px;
}
.loadingSpinner{
    display: flex;
    position: relative;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
}
.loadingSpinner i{
    font-size: 35px;
}

.delete-icon {
    position: absolute;
    top: 6px;
    right: 0;
    color: #dc3545;
}

.delete-icon:hover {
    color: #b8202f;
}

.deleteItemBtn span{
    display: block;
    position: absolute;
    z-index: 99999;
    right: 10px;
    top: 10px;
}

.deleteItemBtn span > i{
    color: #b8202f;
    transition: .1s all ease-in-out;
    cursor: pointer;
    font-size: 25px;
}

.deleteItemBtn span > i:hover{
    color: royalblue;
}


.showDrawingErrorWrapper{
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 40%;
    margin: 0 30%;
    height: 200px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .7);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.showDrawingErrorWrapper i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 30px;
    cursor: pointer;
}
.showDrawingInside h4{
    font-size: 30px;
    font-weight: 600;
}
.showDrawingInside p{
    font-size: 15px;
}

.errorForm{
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}
.formInside{
    display: flex;
    z-index: 11;
    position: absolute;
    width: 20%;
    height: 20%;
    top: 30%;
    left: 40%;
    background-color: rgba(255, 255, 255, .9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
}
.formInside i{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.formInside h3{}
.formInside p{}
